<div id="delegation_form">
 <fieldset>
<legend>Изменение модуля</legend>

<%= render 'form' %>

<%= link_to 'Просмотр', @core_module %> |
<%= link_to 'Назад', core_modules_path %>
 </fieldset>
</div>
