/*
	Страница стилей к стартовой странице
*/

#dashboard {
	1background: url(../images/login.png) center no-repeat;
	width: 90%;
	text-align: center;
	margin: 0 auto;
}

#dashboard fieldset {
	margin: 10px;
	width: 45%;
	display: inline-block;
	text-align: left;
	background-color: #efefef;
}

#dashboard fieldset h1 {
	font-size: 1em;
}
