<div id="delegation_form">
 <fieldset>
<legend>Новое назначение</legend>

<%= render 'form', :locals => { :core_users => @core_users } %>

<%= link_to 'Назад', core_delegations_path %>
 </fieldset>
</div>
