<div>
    <ul id="menu">
      <%= render :partial => "pages/menu_item", :collection => AppModule.all, :as => :item %>
    </ul>
</div>
<%= "Сейчас Вы находитесь здесь: "+controller.controller_name+" "+action_name %>
