<div id="dashboard">
 <fieldset>
 	<legend>Управление пользователями</legend>
 	<label>Пользователи</label>
 	<label>Роли</label>
 </fieldset>
 <fieldset>
 	<legend>Управление поставщиками</legend>
 	<label>Поставщики</label>
 	<%= link_to "Создать", :controller => "suppliers", :action => @new %>
 	<label>Договора</label>
 </fieldset>
</div>
