<div id="delegation_form">
 <fieldset>
<legend>Редактирование назначения действия и роли</legend>

<%= render 'form' %>

<%= link_to 'Show', @core_privilege %> |
<%= link_to 'Back', core_privileges_path %>
 </fieldset>
</div>
