<div>
    <ul id="menu">
      <%= render :partial => "basises/menu_item", :collection => CoreModule.find(:all,:order => 'ord'), :as => :item %>
      
      <% if signed_in? %>
      <li>
      	<%= link_to "Выйти из системы", destroy_core_user_session_path, :method => :delete %>
      </li>
      <% end %>
    </ul>
</div>

