<div>
<fieldset>
<legend>О программе</legend>
<h1>Информационная система "Элеватор"</h1>
<label>Разработчик:</label><p>Богомолов Дмитрий Александрович</p>
<label>Техподдержка:</label><p>ООО "КВИТ"</p>
</fieldset>
</div>
